
.DS_Store
.idea
temp*
robotMsg.json
.history

## node modules
node_modules

# bundle files
es/
esm/
cjs/
lib/
dist/


## test files
coverage
cypress-coverage
cy-report
test/scripts/cypress/screenshots
test/scripts/cypress/videos
test/scripts/cypress/results
test/scripts/cypress/support
results/

## site files
site/dist
_static_site
packages/components/**/_example-js/


## lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

## mock server
server/chat/*

packages/pro-components/chat/chatbot/docs/*
packages/pro-components/chat/chatbot/core/*
