node_modules
.DS_Store
coverage
test/scripts/cypress/screenshots
test/scripts/cypress/videos
test/scripts/cypress/results
test/scripts/cypress/support
results/
site/dist
.idea
es
lib
dist
yarn.lock
esm
cjs
robotMsg
.gitlogmap
_site/
package-lock.json
pnpm-lock.yaml
temp*
robotMsg.json
.nyc_output
cypress-coverage
instrumented
cy-report
.history