:root {
  --td-chat-input-background: red;
}
.my-chat-sender {
  --td-chat-input-background: blue;
}

.my-chat-sender::part(t-chat__input__content) {
  border-radius: 2px;
}

.accessible-chat {
  --td-chat-input-font-size: 24px; /* 确保字体大小足够大 */
}

.accessible-chat .my-chat-sender::part(t-chat__input__content):hover {
  outline: 2px solid yellow;
  outline-offset: 2px;
}