.ReloadPrompt-container {
  position: fixed;
  right: 24px;
  bottom: 40px;
  z-index: 400;
}
.ReloadPrompt-date {
  visibility: hidden;
}
.ReloadPrompt-toast {
  width: 240px;
  padding: 12px;
  border-radius: 3px;
  box-shadow: var(--popup-box-shadow);
  background-color: var(--bg-color-container);
  color: var(--text-primary);
}
.ReloadPrompt-toast-message {
  margin-bottom: 12px;
}
