.ReloadPrompt-container {
  position: fixed;
}
.ReloadPrompt-date {
  visibility: hidden;
}
.ReloadPrompt-toast {
  position: fixed;
  right: 24px;
  bottom: 120px;
  width: 270px;
  padding: 12px;
  border-radius: 3px;
  z-index: 1;
  box-shadow: var(--popup-box-shadow);
  background-color: var(--bg-color-container);
  color: var(--text-primary);
}
.ReloadPrompt-toast-message {
  margin-bottom: 12px;
}
