name: Publish_Any_Commit
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  build:
    if: ${{ github.repository == 'Tencent/tdesign-react' && !startsWith(github.head_ref, 'release/')}}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: pnpm/action-setup@v4 

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: pnpm install

      - run: pnpm exec run-p build build:aigc

      - run: node ./script/workflows/pkg-pr-new-generate-template.mjs

      - run: pnpm dlx pkg-pr-new publish './packages/tdesign-react' './packages/tdesign-react-aigc' --template ./tdesign-react-demo
